* {
	margin: 0px;
	padding: 0px;
}
html { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
}

body {
	background-color: white;
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
}

header {
	background-color: #00FFCC;
	height: 10%;
	width: 100%;	
	text-align: center;
}

footer {
	background-color: #00FFCC;
	position: absolute;
	bottom: 0px;
	height: 5%;
	width: 100%;
	text-align: center;
}


/*
 * Left Nav
 * --------------------------------------------------
 */

 #left-nav{
 	
 	width: 20%;
 	text-align: center;
 }

#left-nav li a {
  color: #000000;
  border-bottom: 1px dotted lightgray;
}

#left-nav li {
  list-style: none;
  margin: 5px 0;
}

#left-nav li a:hover {
  color: black;
  
}

.curr {
  color: #00FFCC;
}

/*Content for first*/
.info{
	background-color: #00FFCC;
	height: 66px;

}

div.col-sm-10.firstcontent {
	padding-top: 6px;
	width: 25%;
}