* {
	margin: 0px;
	padding: 0px;
}
html{ height: 100%; width: 100%; margin: 0; }

header {
	background-color: #00FFCC;
	height: 10%;
	width: 100%;	
}

footer {
	background-color: #00FFCC;
	position: absolute;
	bottom: 0px;
	height: 5%;
	width: 100%;
	text-align: center;
	font-size: small;
}

nav{
	max-width: 730px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}


body {
	margin-top: 75px;
	max-width: 100%;
	background-color: white;
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
	font-size: 20px;
	height: 100%;
	width:	100%;
}

p{
	margin:0;
}

hr{
	margin:0;
}

.container{
	max-width: 730px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.navbar.navbar-fixed-top{
	background-color: #00FFCC;
	color: black;
	font-family:  "Trebuchet MS", Helvetica, sans-serif;
}

.glyphicon.glyphicon-refresh, .glyphicon.glyphicon-cog, .glyphicon.glyphicon-menu-left, .glyphicon.glyphicon-chevron-left, .glyphicon.glyphicon-plus  {

	margin-top: 30px;
/*	color: white;*/
}

.glyphicon.glyphicon-play{
	color: gray;
}

.stickRight{
	float: right;
}

.myStack{
	background-color: #F2F2F2;

}

.myStack .glyphicon{
	margin-top: 20px;
}

.float_center{
	float: right;
	left: -50%;
	text-align: left;
}

.float_left{
	float: left;
}

.float_right{
	float: right;
}



#welcome, #login{
	width: 95%;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}


.btn-clear{
	width: 80%;
	background-color: transparent;
	border-style: solid; 
	color: black;
}

.btn-clear:hover {
	background-color: transparent;
	color: #4CBCFF;
}

.btn-lg{
	padding:10px 16px;
	font-size: medium;
	line-height:1.3333333;
	border-radius:6px
}
.center {
	text-align: center;
	margin-top: 0;
}
#signup_hr {

}

.pure-control-group {
}
